<% include partials/header.ejs %>

<body>

  <nav>
    <ul>
    <li><a href="/"><img src="./logo.svg" alt="oba logo static"></a></li>
      <li><form class="" action="" method="post">
        <label class="" for="fun_txt">s</label>
        <input id="fun_txt" class="fun_txt" type="text" name="" value="" placeholder="Zoeken...">
      </form></li>
      <li></li>
    </ul>
  </nav>

  <div class="main_wrapper">
    <aside class="">
      <button type="button" name="button">Leeg me</button>
      <h1><span>J</span><span>o</span><span>u</span><span>w</span> <span>k</span><span>e</span><span>u</span><span>z</span><span>e</span><span>s</span></h1>
      <div class="">

<article class="">

</article>

      </div>
    </aside>

  <div class="tricolor">

  <h1 id="you">Misschien vind je dit leuk...</h1>
  <main class="listo" id="root">



<% if (final) { final.forEach(function(book) { %>
<article class="">
<img src="<%=book.cover_image%>" alt="">

<div class="">
<p><%= book.title %></p>
<p><%= book.description %></p>
</div>

</article>
    <% })} %>



  </main>

  </div>

  </div>

<% include partials/footer.ejs %>
</body>
